.App {
  text-align: center;
}
.score{
  border-radius: 5px;
  border: 2px solid deeppink;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color:#ffffff;
  box-shadow: 10px 10px 20px lightblue,
  -10px -10px 20px #ffffff;
}
button{
  margin: 5px;
  border-radius: 10px;
  background-color: green;
  color: #f1f1f1;
  box-shadow: 2px 2px 2px black;


}
button:hover{
  background-color: red;
  box-shadow: 2px 2px 2px red;
  text-shadow: 1px 1px 1px white;
}
h1{
 color:green;
}
h1:hover{
  color: red;
  text-shadow: 2px 2px 2px red;
}